     body{
        font-family: 'Fira Sans', sans-serif;
        background-color: midnightblue;
        color: white;        
    }

    .splash{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: midnightblue;
        z-index: 2000;
        color: whitesmoke;
        text-align: center;
    }

    .splash.display-none{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: midnightblue;
        z-index: -1000;
        color: whitesmoke;
        text-align: center;
        transition: all 0.5s;
    }
    @keyframes fadeIn{
        to{
            opacity: 1;
        }
    }

    .fade-in{
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
    }

    #mainBackground{
        background-image: url("images/background.jpg");
        background-repeat: repeat; 
        background-size: cover; 
        background-position: center;
    }
    .map-container{
    width: auto;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:380px;
    }

    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .card-title{
        text-align: center;
    }

    .card-body{
        background-color: #114ba8;
        color: white;
        text-align: justify;
    }

    .btn{
        color: white;

    }


