     body{
        font-family: 'Fira Sans', sans-serif;
        background-color: midnightblue;
        color: white;        
    }
    
    #mainBackground{
        background-image: url("/images/background.jpg");
        background-repeat: repeat; 
        background-size: cover; 
        background-position: center;
    }
    .map-container{
    width: auto;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:380px;
    }

    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .card-title{
        text-align: center;
    }

    .card-body{
        background-color: #114ba8;
        color: white;
        text-align: justify;
    }

    .btn{
        color: white;

    }


